{{ define "main" }}
<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full format format-sm sm:format-base lg:format-lg format-blue">
            <header class="mb-4 lg:mb-6 not-format">
                <h1 class="mb-4 text-5xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl ">{{ .Title }}</h1>
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 ">
                        <div>
                            <p class="text-base text-gray-500 italic "> Written by <span class="text-blue-600">{{ range (.GetTerms "authors") }} {{ .Name }} {{ end }}</span> on <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time></p>
                        </div>
                    </div>
                </address>
            </header>
            <p class="lead">{{ .Description }}</p>
            <div class="text-gray-800">
                {{ .Content }}
            </div>
        </article>
    </div>
  </main>

{{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 ">
        <div class="px-4 mx-auto max-w-screen-xl">
            <h2 class="mb-8 text-2xl font-bold text-gray-900">Related articles</h2>
            <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
                {{ range . }}
            
        
                <article class="max-w-xs">
                    <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900">
                        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    </h2>
                    <p class="mb-4 text-gray-500 dark:text-gray-400">{{ .Description }}</p>
                    <a href="#" class="inline-flex items-center font-medium  text-blue-600 dark:text-blue-500 hover:underline hover:underline-offset-4">
                        Read Post
                    </a>
                </article>
                {{ end }}
                
            </div>
        </div>
    </aside>
    {{ end }}
{{ end }}