{{ define "main" }}

    <section class="bg-white">
        <div class="grid gap-4 py-8 px-4 mx-auto max-w-screen-md lg:gap-4 lg:grid-cols-1 lg:py-16 lg:px-6 ">
            <div>
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-800"> Archive </h2>
            </div>
            
            <div class="mb-5 font-light text-gray-500 text-lg leading-9"> 
                Here is the list of all the articles that have been published here, grouped by year.
            </div>

            {{ $pages := where site.RegularPages "Type" "posts" }}
            {{ $paginator := .Paginate ($pages.GroupByDate "2006") }}

            <div>
                {{ range $paginator.PageGroups }}
                    <h2><span class="text-2xl text-gray-800">{{ .Key }}</span>  <span class="text-xl font-extralight text-gray-500 italic"> - {{ len .Pages }} posts</span></h2>
                    <hr class="h-px my-2 bg-gray-200 border-0">
                    {{ range .Pages }}
                        <article class="mt-2 py-2">
                            <a href="{{ .Permalink }}" class="mb-2 text-xl font-bold tracking-tight text-gray-800">
                                {{ .Title }}
                            </a> - <span class="text-sm text-blue-600">{{ dateFormat .Site.Params.dateFormat .Date }}</span>
                            
                        </article>
                    {{end}}
                {{ end}}
            </div>  
        </div>
    </section>
{{ end }}